* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(247, 247, 247, 1);
}

header {
    background: rgba(46, 46, 46, 1);
    position: fixed;
    z-index: 100;
    width: 100%;
}

h3,
h4 {
    overflow-wrap: break-word;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 17px;
    padding-top: 17px;
    margin: 0 auto;
    max-width: 1179px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 7px 0 7px;
    height: 26px;
}

.panel__menu {
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    gap: 8px;
    align-items: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 20px;
    background: rgba(221, 120, 63, 1);
    color: white;
    text-align: center;
    font-family: Oxygen, sans-serif;
}

.logout-button {
    height: 24px;
}

.new-post-publish {
    max-width: 1180px;
    padding-top: 138px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: Lora, sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
}

.subtitle {
    margin-top: 8px;
    font-family: Oxygen, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(46, 46, 46, 0.63);
}

.publish-button {
    background: rgba(221, 120, 63, 1);
    color: white;
    height: 48px;
    width: 100px;
    border-radius: 3px;
    border-style: none;
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.main-information {
    max-width: 1180px;
    display: flex;
    flex-wrap: wrap;
    margin: 32px auto 0;
    gap: 16px;
    border-radius: 20px;
}

.main-information-block {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 12px -10px rgba(0, 0, 0, 0.2);
    padding-bottom: 56px;
}

.main-information__title {
    margin: 40px 0 0 40px;
    font-family: Lora, sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
}

.post {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 0;
    gap: 20px 100px;
    justify-content: center;
}

.post-form {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.post-input-info {
    max-width: 560px;
    position: relative;
    margin-top: 40px;
}

.post-input-info:first-child {
    margin-top: 0px;
}

.small-titles {
    font-family: Oxygen, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(122, 122, 122, 1);

}

.input-text {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid rgba(46, 46, 46, 1);
    background-color: rgba(247, 247, 247, 1);
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    border-radius: 5px 5px 0px 0px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    outline-color: transparent;
    box-sizing: border-box;
    color: rgba(46, 46, 46, 1);
}

.input-text:focus {
    border-bottom: 2px solid rgba(46, 46, 46, 1);
    background-color: rgba(247, 247, 247, 1);
}

.input-text::placeholder {
    color: rgba(46, 46, 46, 1);
    line-height: 40px;
    /* background-color: rgba(247, 247, 247, 1); */
}

.input-error {
    margin-top: 5px;
    font-family: Oxygen, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: rgba(232, 105, 97, 1);
    display: none;
}

.photo-upload-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 10px;
    align-items: center;
}

#image-container {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: rgba(247, 247, 247, 1);
    background-image: url('../images/SVG/author-photo-placeholder.svg');
}

#author-photo-input {
    display: none;
}

.upload-panel {
    display: flex;
    gap: 8px;
}

#camera-picture {
    display: none;
}

#remove-panel {
    display: none;
    gap: 8px;
}

#author-photo {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.hero-container {
    margin-top: 5px;
    width: 100%;
    height: 160px;
    background-color: rgba(247, 247, 247, 1);
    border: 1px solid rgba(211, 211, 211, 1);
    border-style: dashed;
    border-radius: 7px;
    box-sizing: content-box;
}

#herobig-container {
    width: 99%;
    height: 160px;
}

#herosmall-container {
    width: 296px;
    height: 150px;
}

#herobig-under-info {
    margin-top: 12px;
}

#herosmall-under-info {
    margin-top: 12px;
}

.upload-button {
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(46, 46, 46, 1);
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

#herobig-input {
    display: none;
}

#herosmall-input {
    display: none;
}

.hero-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 6px;
    overflow: hidden;
}

.hero-panel {
    display: none;
    margin-top: 12px;
    gap: 12px;
    align-items: center;
}

.remove-button {
    background-color: white;
    border: 0px;
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    color: rgba(232, 105, 97, 1);
    cursor: pointer;
}

#herobig-upload-panel {
    width: 85px;
    margin: 68px auto;
}

#herosmall-upload-panel {
    width: 85px;
    margin: 68px auto;
}

.post-preview {
    max-width: 440px;
    width: 100%;
}

.hero-small-titles {
    color: rgba(153, 153, 153, 1);
}

.preview-small-titles {
    font-family: Oxygen, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(122, 122, 122, 1);
}

.page-preview {
    margin-top: 16px;
    border: double 1px transparent;
    border-right: 0px;
    border-bottom: 0px;
    background-image:
        linear-gradient(white, white),
        /* linear-gradient(to top, transparent, rgba(211, 211, 211, 1)), */
        linear-gradient(to top, transparent, rgba(211, 211, 211, 1));
    border-image: linear-gradient(to left, transparent, rgba(211, 211, 211, 1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 30px;
    border-top-right-radius: 0px;
    position: relative;
    z-index: 4;
}

.page-gradient {
    width: 438px;
    height: 72px;
    border: double 1px red;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%); */
    border-image: linear-gradient(to top, transparent, rgba(211, 211, 211, 1));
    position: absolute;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    top: 313px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 10;
}

.page-post-preview {
    max-width: 408px;
    height: 353px;
    margin: 32px auto 0;
    border: double 1px transparent;
    background-image:
        linear-gradient(white, white),
        /* linear-gradient(to top, transparent, rgba(211, 211, 211, 1)), */
        linear-gradient(to top, transparent, rgba(234, 234, 234, 1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding-bottom: 58px;
}

.page-panel {
    height: 23px;
    display: flex;
    gap: 3px;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    border-image: linear-gradient(to left, transparent, rgba(234, 234, 234, 1)) 1;
}

.ball {
    width: 4px;
    height: 4px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 2px;
    margin-top: 10px;
}

.page-panel:first-child {
    padding-left: 9px;
}

#preview-title {
    font-family: Lora, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(46, 46, 46, 1);
    margin: 36px auto 0;
    max-width: 80%;
}

#preview-subtitle {
    font-family: Oxygen, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
    max-width: 80%;
    margin: 4px auto 0;
}

.preview-herobig {
    width: 100%;
    height: 160px;
    margin-top: 36px;
    background: rgba(247, 247, 247, 1);
}

.preview-image {
    border-radius: 0px;
}

.post-card-preview {
    margin-top: 20px;
}

.post-card {
    margin: 32px 0 0 16px;
    max-width: 296px;
    border: 1px solid rgba(234, 234, 234, 1);
}

.preview-herosmall {
    width: 100%;
    height: 150px;
    background: rgba(247, 247, 247, 1);
}

.preview-description {
    border: 1px solid rgba(234, 234, 234, 1);
    border-left: 0;
    border-right: 0;
    min-height: 93px;
    box-sizing: border-box;
}

#preview-card-title {
    margin: 14px 13px 0 13px;
    font-family: Lora, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

#preview-card-subtitle {
    margin-top: 7px;
    margin-left: 13px;
    font-family: Oxygen, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(122, 122, 122, 1);
}

.preview-info-panel {
    display: flex;
    flex-wrap: wrap;
    min-height: 48px;
    align-items: center;
}

.preview-author {
    width: 26px;
    height: 26px;
    border-radius: 60px;
    margin-left: 13px;
    background-color: rgba(247, 247, 247, 1);
}

#preview-author-photo {
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

#preview-author-name {
    font-family: Oxygen, sans-serif;
    font-size: 12px;
    margin-left: 10px;
    color: rgba(153, 153, 153, 1);
    overflow-wrap: break-word;
    font-weight: 400;
    word-break: break-all
}

#preview-date {
    font-family: Oxygen, sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: 13px;
    color: rgba(153, 153, 153, 1);
    font-weight: 400;
}

.content-info {
    margin: 40px 0 0 40px;
    max-width: 940px;
    /* min-height: 181px; */
    position: relative;
    display: inline-block;
}

#content-input {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(234, 234, 234, 1);
    padding: 8px;
    box-sizing: border-box;
    text-indent: 0;
}

#resize-button {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 0;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
    background-image: url('../images/SVG/resize-icon.svg');
    background-color: white;
}

#message-block {
    width: 100%;
    height: 44px;
    border-radius: 5px;
    display: none;
    align-items: center;
    gap: 10px;
}

#alert-image {
    width: 24px;
    height: 24px;
    margin-left: 12px;
}

#alert-message {
    font-family: Oxygen, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(46, 46, 46, 1);
}