* {
    margin: 0;
}
.header {
    height: 74px;
    box-sizing: content-box;
}
.header-panel {
    width: 940px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    top: 17px;
    position: relative;
    font-size: 0px;
}
.header-logo {
    width: 92px;
    height: 26px;
    position: relative;
    top: 3px;
    display: inline;
    float: left;
}
.header-nav {
    width: 376.61px;
    height: 40px;
    line-height: 40px;
    left: 471.39px;
    position: relative;
    display: inline-block;
    font-size: 12px;
}
.header-nav-list {
    height: 40px;
    list-style-type: none;
    padding: 0px;
    font-size: 0px;
}
.header-list {
    display: inline-block;
    text-align: center;
    font-family: Oxygen;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6000000238418579px;
    text-transform: uppercase;
    color: rgba(46, 46, 46, 1);
}
.header-home {
    width: 79.61px;
}
.header-categories {
    width: 118px;
}
.header-about {
    width: 81px;
    font-size: 11px;
}
.header-contact {
    width: 98px;
}
.main-tittle {
    box-sizing: content-box;
    width: 940px;
    height: 159px;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    position: relative;
    width: 498px;
    height: 51px;
    top: -7px;
    left: 221px;
    font-family: Lora;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: rgba(46, 46, 46, 1);
}
h2 {
    position: relative;
    width: 504px;
    height: 20px;
    top: 20px;
    left: 218px;
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
}
.main-image {
    width: 100%;
    height: 534px;
    margin-top: 38px;
    border-radius: 3px;
    display: block;
}
.main-block {
    height: 1706px;
    background-color: rgba(247, 247, 247, 1)
}
.main-block-text {
    width: 960px;
    height: 1431px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
    font-family: Oxygen;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(16, 19, 21, 1);
}
.bottom {
    height: 89px;
    background-color: rgba(77, 86, 93, 1);
    background-image: url("../Images/BottomImage.png");
    background-size: 100% 100%;
}
.bottom-panel {
    position: relative;
    width: 960px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    top: 18px;
    font-size: 0px;
}
.bottom-background-opacity {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 47, 56, 0.6);
    top: -34px;
    z-index: 0;
}
.bottom-logo {
    position: relative;
    width: 92px;
    height: 26px;
    top: 3px;
    left: 10px;
    display: inline;
    float: left;
    z-index: 1;        
}
.bottom-nav {
    width: 282px;
    height: 32px;
    line-height: 32px;
    left: 576px;
    position: relative;
    display: inline-block;
    font-size: 11px;
    z-index: 1;
}
.bottom-nav-list {
    list-style-type: none;
    height: 32px;
    padding: 0px;
    font-size: 0px;
}
.bottom-list {
    display: inline-block;
    text-align: center;
    font-family: Oxygen;
    font-family: Oxygen;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
.bottom-list:not(:first-of-type) {
    margin-left: 20px;
}
.bottom-home {
    width: 37px;
}
.bottom-categories {
    width: 76px;
}
.bottom-about {
    width: 42px;
}
.bottom-contact {
    width: 57px;
}