body {
    width: 1440px;
    height: 2600px;
    top: -1344px;
    left: -720px;
    margin: 0px;
}
#DownPanel {
    width: 1440px;
    height: 89px;
    top: 2600px;
}
#Main{
    width: 1440px;
    height: 2600px;
}
#Navigation {
    width: 1440px;
    height: 74px;
    position: relative;
}
#MainImage {
    width: 1440px;
    height: 534px;
    top: 360px;
    border-radius: 3px;
}
#Frame1 {
    width: 940px;
    height: 40px;
    margin-top: 17px;
    margin-left: 250px;
    position: relative;
}
h1 {
width: 92px;
height: 26px;
padding-top: 3px;
font-family: Lora;
font-size: 26px;
font-weight: 400;
line-height: 26px;
color: #2E2E2E;
}
#NavPan {
    width: 376.61px;
    height: 40px;
    position: absolute;
    padding-left: 563.39px;
    top: 0px;
    font-family: Oxygen;
    text-transform: uppercase;
}
#Home {
    width: 39px;
    height: 20px;
    margin: 0px;
    padding: 10px 0px 10px 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
    color: rgba(46, 46, 46, 1);
}
#DivAbout {
    width: 81px;
    height: 40px;
    position: absolute;
    padding-left: 197.61px;
    top: 0px;
}
#About {
    width: 41px;
    height: 20px;
    margin: 10px 20px 10px 20px;    
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
    color: rgba(46, 46, 46, 1);
}
#DivContact {
    width: 98px;
    height: 40px;
    position: absolute;
    margin-left: 278.61px;
    top: 0px;
}
#Contact {
    width: 58px;
    height: 20px;
    margin: 10px 20px 10px 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
    color: rgba(46, 46, 46, 1);
}
#DivCategories {
    width: 118px;
    height: 40px;
    position: absolute;
    margin-left: 79.61px;
    top: auto;
}
